<div
  class="flex items-center justify-center h-screen bg-gradient-to-b from-blue-900 from-35% to-yellow-500"
>
  <div class="w-4/6 max-w-[400px] align-center justify-center">
    <h1 class="font-medium text-lg text-center mb-2 text-gray-200">
      Check your password
    </h1>

    <div class="relative rounded-xl overflow-hidden bg-white">
      <app-password-input [(ngModel)]="password"></app-password-input>
    </div>

    <div class="flex gap-1 mt-1">
      <div
        *ngFor="let index of labelsIndexArray"
        [ngClass]="[getColorClass()[index], 'w-1/' + labelsIndexArray.length]"
        class="h-1 mx-auto rounded-full transition-colors duration-600"
        role="password strength indicator"
      ></div>
    </div>
    <div class="text-center">
      <button
        (click)="switchLabelsMode()"
        class="right-0 h-full mt-1 font-medium text-gray-200 rounded-xl"
      >
        Change validation mode
      </button>
    </div>
  </div>
</div>
