<div
  class="flex items-center justify-center h-screen bg-gradient-to-b from-blue-900 from-35% to-yellow-500"
>
  <div class="w-4/6 max-w-[400px] align-center justify-center">
    <h1 class="font-medium text-lg text-center mb-2 text-gray-200">
      Check your password
    </h1>

    <div class="relative rounded-xl overflow-hidden bg-white">
      <input
        [(ngModel)]="password"
        [type]="isVisible ? 'text' : 'password'"
        class="font-medium text-gray-700 outline-none pl-3 py-2 w-4/5"
        placeholder="Type password here..."
      />
      <button
        (click)="togglePasswordVisible()"
        class="absolute right-0 h-full font-medium text-gray-500 w-1/5 rounded-xl"
      >
        {{ isVisible ? "Hide" : "Show" }}
      </button>
    </div>

    <div class="flex gap-1 mt-1">
      <div
        *ngFor="let index of labelsIndexArray"
        [ngClass]="[getColorClass()[index], 'w-1/' + labelsIndexArray.length]"
        class="h-1 mx-auto rounded-full transition-colors duration-600"
        role="password strength indicator"
      ></div>
    </div>
  </div>
</div>
